*{
    padding: 0;
    margin: 0;
}
header{
    padding: 24px 0;
    background-color: black;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    list-style: none;
    display: flex;
}

header nav li a {
    font: 15px/20px 'Poppins', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}
header nav li:first-of-type *{
    font-size: 13px;
    margin-right: 56px;
}
header nav li:nth-child(3) {
    margin-left: 32px;
}
header nav li:nth-child(4) {
    margin-left: 31px;
}
header nav li:last-of-type *{
    color: #000000;
    margin-left: 31px;
    background: #FFFFFF;
    border-radius: 14px;
    font-size: 16px;
    letter-spacing: 0.4px;
    padding:9px 20px 13px;
}
.picture {
    background-image: url('../images/bg_main.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}
.fixed_location {
    position: absolute;
    right: 40px;
   bottom: 40px;
    list-style: none;
    align-items: center;
    display: flex;
}
.fixed_location li {
    font: 12px/12px'Poppins', sans-serif;
    color: #FFFFFF;
    margin-left: 16px;
}
.fixed_location li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/icon_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.fixed_location li:nth-child(2):before {
    background-image: url("../images/icon_2.svg");
}
.fixed_location li:nth-child(3):before {
     background-image: url("../images/icon_3.svg");
    width: 32px;

}
.fixed_location li:nth-child(4):before {
    background-image: url("../images/icon_4.svg");
    width: 10px;
}
.box{
    max-width: 580px;
    text-align: center;
    color: #FFFFFF;
}
.subtitle{
    font: 14px/20px  'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
h1{
    font: 54px/59px  'Poppins', sans-serif;
    color: #FFFFFF;
}
.paragraph{
    font: 14px/20px  'Poppins', sans-serif;
    color: #C0C0C0;
}
