*{
    padding: 0;
    margin: 0;
}
header{
    padding: 24px 0;
    background-color: black;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    list-style: none;
    display: flex;
}

header nav li a {
    font: 15px/20px 'Poppins', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}
header nav li:first-of-type *{
    font-size: 13px;
    margin-right: 56px;
}
header nav li:nth-child(3) {
    margin-left: 32px;
}
header nav li:nth-child(4) {
    margin-left: 31px;
}
header nav li:last-of-type *{
    color: #000000;
    margin-left: 31px;
    background: #FFFFFF;
    border-radius: 14px;
    font-size: 16px;
    letter-spacing: 0.4px;
    padding:9px 20px 13px;
}
.picture {
    background-image: url('../images/bg_main.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}
.fixed_location {
    position: absolute;
    right: 40px;
   bottom: 40px;
    list-style: none;
    align-items: center;
    display: flex;
}
.fixed_location li {
    font: 12px/12px'Poppins', sans-serif;
    color: #FFFFFF;
    margin-left: 16px;
}
.fixed_location li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/icon_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.fixed_location li:nth-child(2):before {
    background-image: url("../images/icon_2.svg");
}
.fixed_location li:nth-child(3):before {
     background-image: url("../images/icon_3.svg");
    width: 32px;
}
.fixed_location li:nth-child(4):before {
    background-image: url("../images/icon_4.svg");
    width: 10px;
}
.box{
    max-width: 580px;
    text-align: center;
    color: #FFFFFF;
}
.subtitle{
    font: 14px/20px  'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
h1{
    font: 54px/59px  'Poppins', sans-serif;
    color: #FFFFFF;
}
.paragraph{
    font: 14px/20px  'Poppins', sans-serif;
    color: #C0C0C0;
}
.sunset {
    background-image: url("../images/bg_image.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sub_container {
    max-width: 298px;
    margin-right: 62px;
}
.sub_container h4 {
    font: 14px/20px 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sub_container p {
    font: 14px/20px 'Poppins', sans-serif;
    color: #C0C0C0;
}
.leafs {
    background-image: url("../images/leafs.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sub_container_2 {
    max-width: 273px;
    margin-right: 87px;
}
.sub_container_2 h4 {
    font: 14px/20px 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sub_container_2 p{
    font: 14px/20px 'Poppins', sans-serif;
    color: #C0C0C0;
}
.clients {
    background-color: #000000;
    padding: 113px 0 100px;
    text-align: center;
}
.clients h3 {
    font: 40px/42px 'Poppins', sans-serif;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.clients h4 {
    font: 24px/30px 'Poppins', sans-serif;
    color: #C0C0C0;
    padding-bottom: 82px;
}
.companies {
    max-width: 1168px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.companies img {
    max-width: 128px;
}
.himalayas {
    background-image: url("../images/himalayas.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sub_container_3 {
    max-width: 254px;
    margin-right: 119px;
}
.sub_container_3 h4 {
    font: 14px/20px 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sub_container_3 p{
    font: 14px/20px 'Poppins', sans-serif;
    color: #C0C0C0;
}
.contact {
    background-color: #000000;
    padding: 113px 0 108px;
    text-align: center;
}
.contact h3 {
    font: 40px/42px 'Poppins', sans-serif;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.contact h4 {
    font: 24px/30px 'Poppins', sans-serif;
    color: #C0C0C0;
    padding-bottom: 22px;
}
.contact a{
    font: 16px/20px 'Poppins', sans-serif;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
    display: inline-flex;
    align-items: center;
}
.contact a:before {
    content: "";
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
}