*{
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
header{
    padding: 24px 0;
    background-color: black;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture {
    background-image: url('../images/bg_main.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}
.fixed_location {
    position: absolute;
    right: 40px;
    bottom: 40px;
    list-style: none;
    align-items: center;
    display: flex;
    z-index: 2;
}
.fixed_location li {
    font: 12px/12px'Poppins', sans-serif;
    color: #FFFFFF;
    margin-left: 16px;
}
.fixed_location li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/icon_1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.fixed_location li:nth-child(2):before {
    background-image: url("../images/icon_2.svg");
}
.fixed_location li:nth-child(3):before {
     background-image: url("../images/icon_3.svg");
     width: 32px;
}
.fixed_location li:nth-child(4):before {
    background-image: url("../images/icon_4.svg");
    width: 10px;
}
.box{
    max-width: 580px;
    text-align: center;
    color: #FFFFFF;
}
.subtitle{
    font: 14px/20px  'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
h1{
    font: 54px/59px  'Poppins', sans-serif;
    color: #FFFFFF;
}
.paragraph{
    font: 14px/20px  'Poppins', sans-serif;
    color: #C0C0C0;
}
.what_we_do {
    background-color: black;
    padding-top: 112px;
    padding-bottom: 100px;
}
.what_we_do .container {
    max-width: 1168px;
}
.what_we_do h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.flex_wrap {
    flex-wrap: wrap;
}
.what_we_do article {
    max-width: 576px;
    position: relative;
    margin-bottom: 16px;
}
.what_we_do article img {
    width: 100%;
    display: block;
}
.what_we_do article .description {
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding-right: 30px;
    z-index: 1;
}
.description h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: left;
}
.description p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 15px;
}
.sunset {
    background-image: url("../images/bg_image.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sub_container {
    max-width: 298px;
    margin-right: 62px;
}
.sub_container h4 {
    font: 14px/20px 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sub_container p {
    font: 14px/20px 'Poppins', sans-serif;
    color: #C0C0C0;
}
.tools {
    background-color: black;
    min-height: 540px;
    position: relative;
}
.tools .container {
    display: flex;
    align-items: center;
    min-height: 540px;
}
.tools .position_bg {
    width: 50%;
    min-height: 540px;
    right: 0;
    top: 0;
    background-image: url("../images/image_bg.jpg");
    background-size: cover;
    position: absolute;
}
.tools .item {
    max-width: 514px;
}

.tools .item h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 6px;
}
.tools .item h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.tools .item p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.leafs {
    background-image: url("../images/leafs.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sub_container_2 {
    max-width: 273px;
    margin-right: 87px;
}
.sub_container_2 h4 {
    font: 14px/20px 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sub_container_2 p{
    font: 14px/20px 'Poppins', sans-serif;
    color: #C0C0C0;
}
.clients {
    background-color: #000000;
    padding: 113px 0 100px;
    text-align: center;
}
.clients h3 {
    font: 40px/42px 'Poppins', sans-serif;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.clients h4 {
    font: 24px/30px 'Poppins', sans-serif;
    color: #C0C0C0;
    padding-bottom: 82px;
}
.companies {
    max-width: 1168px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.companies a {
    max-width: 128px;
    display: inline-block;
}
.owl-stage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.owl-carousel .owl-item img {
    width: 128px;
}
.himalayas {
    background-image: url("../images/himalayas.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sub_container_3 {
    max-width: 254px;
    margin-right: 119px;
}
.sub_container_3 h4 {
    font: 14px/20px 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sub_container_3 p{
    font: 14px/20px 'Poppins', sans-serif;
    color: #C0C0C0;
}
.contact {
    background-color: #000000;
    padding: 113px 0 108px;
    text-align: center;
}
.sub_container_4{
    max-width: 571px;
    margin: auto;
}
.contact h3 {
    font: 40px/42px 'Poppins', sans-serif;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.contact h4 {
    font: 24px/30px 'Poppins', sans-serif;
    color: #C0C0C0;
    padding-bottom: 22px;
}
 .button {
    font: 16px/20px 'Poppins', sans-serif;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
    display: inline-flex;
    align-items: center;
}
.button:before {
    content: "";
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
}
.faq {
    background-color: #181818;
    padding: 70px 0;

}
.faq .container {
    display: flex;
    justify-content: space-between;
}
.faq .text {
    max-width: 500px;
    padding-right: 50px;
    box-sizing: border-box;
}
.faq .accordion {
    max-width: 700px;
}
.faq .text h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 50px;
}
.faq .text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
.faq .ui-accordion .ui-accordion-header {
    background: #FFFFFF;
    border: 1px solid #E3E8EF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 23px 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #202939;
    margin-bottom: 16px;
}
.faq .ui-accordion .ui-accordion-header.ui-state-active {
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
}
.ui-accordion .ui-accordion-content {
    margin-bottom: 16px;
    border-radius: 0 0 8px 8px;
}
.faq .ui-accordion .ui-icon{
    background-image: none;
    background-position: 0;
    width: 32px;
    height: 48px;
    text-indent: 0px;
    position: absolute;
    right: 25px;
    top: 26px;
}
.faq .ui-accordion .ui-icon:before{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\2b";
    font-size: 32px;
    display: inline-block;
    transition: 0.5s;
}
.faq .ui-accordion .ui-accordion-header.ui-state-active .ui-icon:before{
    transform: rotate(360deg);
}



.cd-header {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-header:after {
    content: "";
    display: table;
    clear: both; }
.cd-header.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px); }
.cd-3d-nav {
    list-style: none;
    display: flex;
}
header .cd-3d-nav  li a {
    font: 15px/20px 'Poppins', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 31px;
}
.cd-selected li a:first-of-type {
    font-size: 13px;
    margin-right: 56px;
}
.cd-3d-nav li:nth-of-type(2) {
    margin-left: 0;
}
.cd-3d-nav li:last-of-type {
    color: #000000;
    margin-left: 31px;
    background: #FFFFFF;
    border-radius: 14px;
    font-size: 16px;
    letter-spacing: 0.4px;
    padding:9px 20px 13px;
}
@media only screen and (min-width: 768px) {
    .cd-header.nav-is-visible {
        -webkit-transform: translateY(170px);
        -moz-transform: translateY(170px);
        -ms-transform: translateY(170px);
        -o-transform: translateY(170px);
        transform: translateY(170px); } }

@media only screen and (min-width: 768px) {
    .cd-3d-nav a {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* truncate text with ellipsis if too long */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .cd-3d-nav a::before {
        top: 4.4em;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); } }



@media only screen and (min-width: 768px) {
    main.nav-is-visible {
        -webkit-transform: translateY(170px);
        -moz-transform: translateY(170px);
        -ms-transform: translateY(170px);
        -o-transform: translateY(170px);
        transform: translateY(170px);
    }
}

